@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
	::-webkit-scrollbar {
		@apply h-[6px] w-[6px] lg:h-[7px] lg:w-[7px];
	}

	::-webkit-scrollbar-track {
		@apply rounded-lg;
	}

	::-webkit-scrollbar-thumb {
		@apply rounded-lg bg-accent-500;

		&:hover {
			@apply bg-accent-500/70;
		}
	}

	body {
		@apply overflow-hidden bg-primary-600 text-primary-100;
		height: 100vh;
		height: 100dvh;
	}

	header {
		height: 100vh;
		height: 100dvh;
	}

	input,
	textarea {
		@apply border-primary-400 bg-primary-500;
	}

	input[type="radio"] {
		@apply hidden;

		+ .tab-label {
			@apply cursor-pointer rounded-md bg-accent-600 px-4 py-2 text-lg text-white duration-150 ease-out hover:bg-accent-700;
		}

		&:checked + .tab-label {
			@apply bg-accent-700;
		}
	}
}

@layer components {
	.chat-message {
		word-break: break-all;
	}

	.loader {
		color: rgba(90, 90, 90, 0.2);
		position: relative;
		display: inline-block;
		border: 1px solid;
		border-radius: 50%;
		border-right-color: #5a5a5a;
		animation: rotation 1s linear infinite;

		&.sm {
			border-width: 3px;
			width: 22px;
			height: 22px;
		}

		&.lg {
			border-width: 5px;
			width: 38px;
			height: 38px;
		}
	}

	@keyframes rotation {
		0% {
			transform: rotate(0);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}
